html, body {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    font-family: Montserrat, sans-serif;
}
.section {
    background-color: #eeeeee;
    height: 100%;
}
.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 65px;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    position: absolute;
    z-index: 100;
}

.logo {
    display: flex;
    width: 90px;
}

@media only screen and (max-width: 1023px) {
    .menu {
        display: block;
        position: absolute;
        width: 300px;
        right: 0;
        background: white;
        transform: translateX(100%);
        top: 4em;
        transition-duration: 0.5s;
    }
    i.fas.fa-bars {
        display: block;
    }
}
@media only screen and (max-width: 1023px) {
    
}
@media only screen and (min-width: 1024px) {
    .menu {
        transform: translateX(0);
        display: flex;
        flex-direction: row;
    }
    i.fas.fa-bars {
        display: none !important;
    }
}

.menu > a {
    color: #1c1c1c;
    font-weight: 450;
    cursor: pointer;
    border-top: 4px solid white;
}

.menu> a:hover {
    color: black;
    border-top: 4px solid #fcf52f;    /*Responsável pela borda embaixo do link */
}

.menu>a:active {
    font-weight: 700;
}

.carousel {
    display: flex;
    flex-direction: column;
    z-index: 50;
}

.carousel > h1 {
    display: flex;
    position: relative;
    color: white;
    margin-top: 150px;
    font-weight: 700;
    margin-left: 700px;
}

.faixa {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    top: 323px;
}

.cristo {
    display: flex;
    position: absolute;
    min-width: 100%;
    max-height: 100%;
}

.section {
    width: 100%;
    display: flex;
    position: relative;
    height: auto;
    min-height: 700px;
}

.imoveis {
    background-color: #eeeeee;
}

.logo-rodape {
    width: 150px;
}
.rodape-baixo div.row:first-child {
    margin-top: 1em;
}
.rodape-baixo div.row:last-child {
    margin-bottom: 1em;
}
.rodape-baixo div.row {
    margin: 2em 0;
}

.sobrenos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

.sobre {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    width: 80%;
    text-align: center;
}

.sobre1{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.imagem {
    background-color: #dcdcdc;
    width: 100%;
    height: 250px;
}

.sobre1 > p {
    display: flex;
    text-align: justify;
    flex-grow: 1;
    padding: 20px;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.sobre2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.sobre2> p {
    display: flex;
    text-align: justify;
    flex-grow: 1;
    padding: 20px;
    width: 100%;
    height: 100%;
    justify-content: center;
}

@media only screen and (min-width: 1024px) {
    .sobre1 {
        flex-direction: row;
    }
    .sobre2 {
        flex-direction: row-reverse;
    }
    .sobre1 p,
    .sobre2 p {
        width: 350px;
    }
    .imagem {
        width: 400px;
    }
}

.sobre > h1 {
    font-weight: 700;
    font-size: 1.5em;
}

.equipe {
    display: flex;
    flex-direction: row;
}

.foto-funcionario {
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 100px;

}

.objectImage {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    justify-content: space-around;
    position: absolute;
}

@media only screen and (max-width: 1023px) {
    .barra {
        flex-direction: column;
    }
}

@media only screen and (min-width: 1024px) {
    .barra {
        flex-direction: row;
    }
    .barra-busca {
        width: 500px;
    }
}
.barra {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    position: relative;
}
.barra-busca {
    display: block;
}

.tipo {
    display: flex;
    width: 200px;
}

.imoveis {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dcdcdc;
}

.contato {
    display: flex;
    flex-direction: column;
    background-color: #dcdcdc;
}

/* imoveis */

.imoveis-destaque {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 2em 0;
}

.imoveis-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}


.imovel {
    display: flex;
    flex-direction: column;
    width: calc(100% - 2em);
    justify-content: flex-start;
    z-index: 20;
    margin: 0.5em 1em;
}

@media only screen and (min-width: 1024px) {
    .imovel {
        width: calc((100% / 12) * 4 - 2em);
        margin: 0 1em;
    }
    .imoveis-row {
        flex-direction: row;
    }
}
.objectImage {
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: center;
    position: relative;
    z-index: 3;
}
/*.imovel::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), #000000, 150%);
    width: 350px;
    height: 400px;
    content: '';
    z-index: 9;
    }*/

    .detalhes {
        display: flex;
        flex-direction: row;
        background-color: #eeeeee;
        width: 100%;
        height: 50px;
        align-items: flex-start;
    }
    .detalhes span {
        font-size: 0.8em;
        width: calc((100% / 12) * 4);
        text-align: center;
        line-height: 20px;
        margin-top: 5px;
    }

    .imovel .valor {
        width: calc((100% / 12) * 9);
        margin-left: calc((100% / 12) * 3);
        margin-top: -4em;
        margin-bottom: 2em;
        padding-right: 1em;
        text-align: right;
        line-height: 2em;
        background: #e1e81f;
    }

    .imovel > h1 {
        margin-bottom: -2em;
        margin-left: 0.7em;
        line-height: 2em;
        z-index: 1000;
        color: white;
        font-size: 1.5em;
    }
